<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Безопасность операционных систем</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1 class="title">Безопасность операционных систем</h1>
    </header>
    <div class="content">
        <table class="tasks">
            <tr>
                <td>
                    <div class="task">
                        <h2 class="task-title">WiFi crack</h2>
                        <form action="t1_change_pass">
                            <input type="submit" value="Сгенерировать пароль">
                        </form>
                    </div>
                </td>
                <td>
                    <div class="task">
                        <h2 class="task-title">Linux auth bypass</h2>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="task">
                        <h2 class="task-title">NONAME</h2>
                    </div>
                </td>
                <td>
                    <div class="task">
                        <h2 class="task-title">NONAME</h2>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="task">
                        <h2 class="task-title">NONAME</h2>
                    </div>
                </td>
                <td>
                    <div class="task">
                        <h2 class="task-title">NONAME</h2>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>